<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.auth.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.dept.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyController</servlet-name>
        <servlet-class>controller.dept.CompanyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCustomerController</servlet-name>
        <servlet-class>controller.dept.InfoCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCustomerDetailController</servlet-name>
        <servlet-class>controller.dept.InfoCustomerDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayOneOrderController</servlet-name>
        <servlet-class>controller.pay.PayOneOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PayManyOrderController</servlet-name>
        <servlet-class>controller.pay.PayManyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfomationCustomerController</servlet-name>
        <servlet-class>controller.info.InfomationCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoCompanyController</servlet-name>
        <servlet-class>controller.info.InfomationCompanyController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/dept/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyController</servlet-name>
        <url-pattern>/dept/company</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCustomerController</servlet-name>
        <url-pattern>/info/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCustomerDetailController</servlet-name>
        <url-pattern>/info/customer/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayOneOrderController</servlet-name>
        <url-pattern>/pay/oneorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PayManyOrderController</servlet-name>
        <url-pattern>/pay/manyorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfomationCustomerController</servlet-name>
        <url-pattern>/info/infocustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoCompanyController</servlet-name>
        <url-pattern>/info/infocompany</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
